## HuggingFace - Understanding the Basics

In [1]:
from dotenv import load_dotenv
load_dotenv()

True

### Dataset Library

We can load a dataset for evaluation or training from HF datasets. We can use the datasets library for this. Let's download this movie review dataset: https://huggingface.co/datasets/rotten_tomatoes

In [2]:
import datasets
datasets.__version__

/home/vpsr/Desktop/python/Hugging Face/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

'3.5.0'

In [3]:
from datasets import load_dataset

In [4]:
rt_reviews = load_dataset('rotten_tomatoes')

In [5]:
rt_reviews.shape

{'train': (8530, 2), 'validation': (1066, 2), 'test': (1066, 2)}

In [20]:
rt_reviews['train'].to_pandas()

                                                   text  label
0     the rock is destined to be the 21st century's ...      1
1     the gorgeously elaborate continuation of " the...      1
2                        effective but too-tepid biopic      1
3     if you sometimes like to go to the movies to h...      1
4     emerges as something rare , an issue movie tha...      1
...                                                 ...    ...
8525  any enjoyment will be hinge from a personal th...      0
8526  if legendary shlockmeister ed wood had ever ma...      0
8527  hardly a nuanced portrait of a young woman's b...      0
8528    interminably bleak , to say nothing of boring .      0
8529  things really get weird , though not particula...      0

[8530 rows x 2 columns]

### Transformers Library

#### Pipelines

In [7]:
import transformers
transformers.__version__

'4.51.3'

In [8]:
from transformers import pipeline

2025-04-19 21:04:13.171746: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:467] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1745076853.196855   54932 cuda_dnn.cc:8579] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1745076853.204036   54932 cuda_blas.cc:1407] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
W0000 00:00:1745076853.223235   54932 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1745076853.223265   54932 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1745076853.223268   54932 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1745076853.223270   54932 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
2025-04-19 21:04:13.229801: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [9]:
classifier = pipeline('sentiment-analysis')

No model was supplied, defaulted to distilbert/distilbert-base-uncased-finetuned-sst-2-english and revision 714eb0f (https://huggingface.co/distilbert/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.
Device set to use cuda:0

In [11]:
result = classifier("this movie is fabulos")

In [12]:
result

[{'label': 'POSITIVE', 'score': 0.9144587516784668}]

In [13]:
def lable(review):
    prediction = classifier(review)[0]['label']
    if prediction == 'POSITIVE':
        return 1
    else:
        return 0

In [22]:
rt_reviews['train'].to_pandas()['text'][0]

'the rock is destined to be the 21st century\'s new " conan " and that he\'s going to make a splash even greater than arnold schwarzenegger , jean-claud van damme or steven segal .'

In [21]:
lable(rt_reviews['train'].to_pandas()['text'][0])

1

In [24]:
review_df = rt_reviews['test'].to_pandas()

In [25]:
review_df

                                                   text  label
0     lovingly photographed in the manner of a golde...      1
1                 consistently clever and suspenseful .      1
2     it's like a " big chill " reunion of the baade...      1
3     the story gives ample opportunity for large-sc...      1
4                     red dragon " never cuts corners .      1
...                                                 ...    ...
1061  a terrible movie that some people will neverth...      0
1062  there are many definitions of 'time waster' bu...      0
1063  as it stands , crocodile hunter has the hurrie...      0
1064  the thing looks like a made-for-home-video qui...      0
1065  enigma is well-made , but it's just too dry an...      0

[1066 rows x 2 columns]

In [26]:
review_df['prediction'] = review_df['text'].apply(lable)

You seem to be using the pipelines sequentially on GPU. In order to maximize efficiency please use a dataset

In [27]:
review_df

                                                   text  label  prediction
0     lovingly photographed in the manner of a golde...      1           1
1                 consistently clever and suspenseful .      1           1
2     it's like a " big chill " reunion of the baade...      1           0
3     the story gives ample opportunity for large-sc...      1           1
4                     red dragon " never cuts corners .      1           1
...                                                 ...    ...         ...
1061  a terrible movie that some people will neverth...      0           0
1062  there are many definitions of 'time waster' bu...      0           0
1063  as it stands , crocodile hunter has the hurrie...      0           0
1064  the thing looks like a made-for-home-video qui...      0           0
1065  enigma is well-made , but it's just too dry an...      0           0

[1066 rows x 3 columns]

In [34]:
accuracy = (sum(review_df['prediction']==review_df['label'])/1066)*100
print(f"Accuracy: {accuracy} %")

Accuracy: 89.6810506566604 %